$primary: #FF5A5A;
$lightPrimary: #FF9D9D;
$secondary: #F1F1F1;

$good: #87CD15;
$average: #FFAD33;

$desktop-width: 1440px;
$netbook-width: 768px;
$large-phone-width: 480px;
$small-phone-width: 320px;

$desktop-content-width: calc((1069px / 1440px) * 100vw)