@import "src/styles/vars";
@import "src/styles/mixins";

.home {
    display: grid;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 25px;

    .content {
        margin-top: 57px;
        width: $desktop-content-width   ;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 24px;

        .wardLink {
            height: 137px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $secondary;
            color: #000;
            @include font(2.4rem, 3.5rem, 400);
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        .content {
            width: 100%;
            column-gap: 48px;
            grid-template-columns: repeat(3, 1fr);
        }
    }

}

@media screen and (max-width: 600px) {
    .home {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .home {
        .content {
            column-gap: 22px;
            margin-top: 20px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 370px) {
    .home {
        .content {
            margin-top: 10px;
            row-gap: 12px;
            grid-template-columns: 1fr;
        }
    }
}